@import "tailwindcss";

@theme {
    --font-title: "Qlassik", sans-serif;
}
@font-face {
    font-family: "Qlassik";
    font-display: swap;
    src: url("assets/fonts/QlassikBold.otf") format("opentype");
}